version: '3'
services:
  app:
    container_name: my-node-app
    build:
      context: .
      dockerfile: Dockerfile
    extra_hosts:
      - "host.docker.internal:host-gateway"
    expose:
      - "5000"
    ports:
      - 127.0.0.1:5000:5000
    environment:
      NODE_ENV: production
      HOSTNAME: 127.0.0.1
      PORT: 5000
    